<meta charset="UTF-8">

<title>Jimi: <%= title %></title>
<link rel="icon" type="image/png" href="/public/img/thumb.png">

<!-- Load in themed Bootstrap from CDN -->
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

<!-- Load in Font Awesome from CDN -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

<!-- Load in jQuery from CDN, drop back to v2 or v1 if problems -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Site specific CSS & JS -->
<link rel="stylesheet" href="/public/css/styles.css"/>
<script src="/public/js/site.js"></script>
