<div class="panel panel-primary" style="width:80%; margin: 0 auto" *ngIf="!editEvent">
  <div class="panel-heading">
    <h2 class="panel-title">Event Admin</h2>
  </div>
  <div class="panel-body">

    <button class="btn btn-primary" (click)="newEvent()"><i class="fa fa-calendar-plus-o"></i>&nbsp; Add Event</button>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Event</th>
          <th class="hidden-xs">Type</th>
          <th class="hidden-xs">Start Date</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events">
          <td>{{ event.title }}</td>
          <td class="hidden-xs">{{ event.type | titlecase }}</td>
          <td class="hidden-xs">{{ event.start | date:'longDate' }}</td>
          <td><button class="btn btn-success" (click)='edit(event)'><i class="fa fa-pencil"></i></button></td>
          <td><button class="btn btn-warning" (click)='deleteEvent(event)'><i class="fa fa-trash"></i></button></td>
        </tr>
    </table>

  </div>
</div>


<!-- edit dialog, only shown when editEvent is active -->

<div class="panel panel-primary" style="width:80%; margin: 0 auto" *ngIf="editEvent">
  <div class="panel-heading">
    <h2 class="panel-title">
      <span *ngIf="editEvent.id">Edit Event ({{editEvent.id}})</span>
      <span *ngIf="!editEvent.id">Create Event</span>
    </h2>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label for="eventTitle">Title</label>
      <input maxlength="50" required class="form-control" #eventTitle="ngModel" id="eventTitle" [(ngModel)]="editEvent.title" value="{{editEvent.title}}" placeholder="e.g. Workshop on Azure">
    </div>  
    <div *ngIf="eventTitle.invalid" class="alert alert-warning">
      Event title must not be blank, and must be less than 50 characters
    </div>

    <div class="form-group">
      <label for="eventType">Type</label>
      <br/>
      <div style="width:40%; display: inline-block" >
      <select class="form-control" id="eventType" [(ngModel)]="editEvent.type">
        <option *ngFor="let type of eventTypes" value="{{ type }}">{{ type | titlecase}}</option>
      </select>
      </div>
      <div style="width:40%; display: inline-block">
        &nbsp;&nbsp;&nbsp;<img style="height: 55px;" src='/assets/img/events/{{editEvent.type}}.png' />
      </div>
    </div>        
        
    <div class="form-group">
      <label for="eventStart">Start Date</label>
      <input style="width:30%;" type="date" min="2017-01-01" max="2020-21-31" required class="form-control" #eventStart="ngModel" id="eventStart" [(ngModel)]="editEvent.start" value="{{editEvent.start}}">     
    </div>   
    <div *ngIf="eventStart.invalid" class="alert alert-warning">
        Event start date must be set
    </div>
    <div class="form-group">
      <label for="eventEnd">End Date</label>
      <input style="width:30%;" type="date" min="2017-01-01" max="2020-12-31" required class="form-control" #eventEnd="ngModel" id="eventEnd" [(ngModel)]="editEvent.end" value="{{editEvent.end}}">     
    </div>    
    <div *ngIf="eventEnd.invalid" class="alert alert-warning">
        Event end date must be set
    </div>
    <div *ngIf="dateError" class="alert alert-warning">
        Event end date must be same day or later than start date
    </div>

    <div class="panel">
      <div class="panel-heading">
        <h2 class="panel-title">Topics <button class="btn btn-success" style="font-size:60%; float:right" (click)="newTopic(editEvent)"><i class="fa fa-plus"></i>&nbsp; Add Topic</button> </h2>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <tr *ngFor="let topic of editEvent.topics">
            <td>{{ topic.id }}</td> 
            <td><input required type="text" #eventEnd="ngModel" class="form-control" [(ngModel)]="topic.desc" value="{{ topic.desc }}"/></td> 
            <td><a (click)="deleteTopic(editEvent, topic)"><i class="fa fa-trash minibutton"></i></a></td>
          </tr>
        </table>
        <div *ngIf="topicError" class="alert alert-warning">
            ERROR: One or more topics is invalid or blank
          </div>  
      </div>
    </div>
    
    <button [disabled]="eventTitle.invalid || eventStart.invalid || eventEnd.invalid" class="btn btn-primary" style="font-size:150%" (click)='saveEvent(editEvent)'>
      <i class="fa fa-check"></i> 
      <span *ngIf="editEvent.id">Update Event</span>
      <span *ngIf="!editEvent.id">Create New Event</span>
    </button>

    <button *ngIf="!editEvent.id" class="btn btn-default" style="font-size:150%" (click)='cancel()'>
      <i class="fa fa-times"></i> 
      Cancel
    </button>

  </div>
</div>

<modal-dialog #deleteDialog dialogTitle="Are you sure?" okButtonText=" DELETE "></modal-dialog>
