<div class="panel panel-primary" *ngFor="let event of events">
  <div class="panel-heading">
    <h2 class="panel-title">Feedback for '{{ event.title }}'</h2>
  </div>
  <div class="panel-body">
    <table>
      <tr><td>Start Date: &nbsp;&nbsp; </td><td>{{event.start | date:'MMMM d, yyyy' }}</td></tr>
      <tr><td>End Date: &nbsp;&nbsp; </td><td>{{event.end | date:'MMMM d, yyyy' }}</td></tr>
      <tr><td>Type: &nbsp;&nbsp; </td><td>{{event.type | titlecase}}</td></tr>
      <tr *ngIf="eventStats['_'+event.id]"><td>Feedback: &nbsp;&nbsp; </td><td>{{ eventStats['_'+event.id].count }}</td></tr>
      <tr>
        <td>Average Rating: &nbsp;&nbsp; </td>
        <td>
          <div *ngIf="eventStats['_'+event.id]" class="rating rating-colour-{{eventStats['_'+event.id].avgFloor}}">
            {{ eventStats['_'+event.id].avg | number:'1.2-2' }}
          </div>  
        </td>
      </tr>
    </table>
    <hr/>
    <div *ngFor="let topic of event.topics">
      <h4>Topic - {{ topic.desc }}</h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Rating</th>          
            <th>Comments</th>
            <th>Sentiment Score</th>            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let feedback of topic.feedback">
            <td>
              <img src="/assets/img/face-{{ feedback.rating }}.svg" width="40px"/>
            </td>
            <td>
              <span *ngIf="!feedback.comment"><i>No comment</i></span>
              <span *ngIf="feedback.comment">"{{ feedback.comment }}"</span>
            </td>
            <td>
              <span *ngIf="!feedback.sentiment">None</span>{{ feedback.sentiment | percent:'1.1-1' }}
            </td>            
          </tr>
      </table>
      <hr/>
    </div>
  </div>
</div>