<!DOCTYPE html>
<html lang="en">

<head> <% include partials/head %> </head>

<body class="container">
  <script>
    var selected = 0;
    function clickFace(r) {
      selected = r;
      $(".face").each(function( index ) {
        $(this).removeClass('face-unselected');
        if(index+1 != selected) 
          $(this).addClass('face-unselected');
      });
      if(selected != 0) {
        $("#sub-button").removeAttr('disabled');
        $("#rating").val(selected);  
      }
    }
  </script>
  <header> <% include partials/header %> </header>

  <main>
    <div class="panel panel-primary" style="width:85%; margin: 0 auto;">
      <div class="panel-heading">
        <h3 class="panel-title">Feedback on Foo</h3>
      </div>

      <div class="panel-body faces-center">
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-2"><img class="face" src="/public/img/face-1.svg" onclick="clickFace(1)"></div>
          <div class="col-xs-2"><img class="face" src="/public/img/face-2.svg" onclick="clickFace(2)"></div>
          <div class="col-xs-2"><img class="face" src="/public/img/face-3.svg" onclick="clickFace(3)"></div>
          <div class="col-xs-2"><img class="face" src="/public/img/face-4.svg" onclick="clickFace(4)"></div>
          <div class="col-xs-2"><img class="face" src="/public/img/face-5.svg" onclick="clickFace(5)"></div>
          <div class="col-xs-1"></div>
        </div>
      </div>

      <form action="/feedback" method="POST">
        <input type="hidden" id="rating" name="rating" value="0">
        <div class="row">
            <div class="col-xs-8 col-md-8 col-lg-8 vcenter">
                <textarea class="feedbackbox" name="comments" placeholder="Provide any additional comments (optional)"></textarea>
            </div><div class="col-xs-4 col-md-4 col-lg-4 vcenter">
                <button type="submit" id="sub-button" class="btn btn-success" disabled style="font-size:1.6em">Submit</button>
            </div
        </div>
      </form>

  </main>

  <footer> <% include partials/footer %> </footer>

</body>

</html>