<!DOCTYPE html>
<html lang="en">

<head> <% include partials/head %> </head>

<body class="container">

  <header> <% include partials/header %> </header>

  <main>
    <div class="jumbotron">
      <h1><i class="fa fa-thumbs-up"></i> Jimi - Feedback made simple</h1>

      <hr/>

      <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Active Feedback Topics</h2>
          </div>
          <div class="panel-body">
              <ul>
                  <li><a href="/feedback/goats">Workshop on Goats</a></li>
                  <li><a href="/feedback/piano">Piano Lessons with Lemmy</a></li>
                  <li><a href="/feedback/beetles">Introduction to Dung Beetles</a></li>
                </ul>
          </div>
        </div>

      <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Topic Code</h3>
          </div>
          <div class="panel-body">
              <h4>Or provide a topic code:</h4>
              <form action="feedback">
                  <div class="input-group" style="width:40%">
                      <input type="text" class="form-control" placeholder="e.g. zy348" name="topic">
                      <span class="input-group-btn">
                           <button class="btn btn-success" type="submit"><i class="fa fa-search"></i></button>
                      </span>
                   </div>
              </form>
          </div>
        </div>


    </div>
  </main>

  <footer> <% include partials/footer %> </footer>

  <div class="modal" id="confirmDialog" style="margin-top:30vh">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Feedback Submitted</h4>
          </div>
          <div class="modal-body">
            <p>Thanks for providing your feedback</p>
          </div>
          <div class="modal-footer">
            <a type="button" class="btn btn-primary" href="/">No Problem!</a>
          </div>
        </div>
      </div>
    </div>

  <script>if(<%= showDialog %>) $('#confirmDialog').modal('show');</script>

</body>

</html>