     
<div>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">

      <!-- sidebar only show when toggled/opened -->
      <side-nav #sideNav [env]="env" [userService]="userService" [routerLink]="['/about']"></side-nav>

      <!-- logo -->
      <a class="navbar-brand" [routerLink]="['/home']"><img src='assets/img/logo-white.svg' class="navlogo"> <span class="navlogotext">&nbsp;Smilr</span> </a>

      <!-- left hand buttons (hidden when mobile) -->
      <ul class="nav navbar-nav navbar-left hidden-xs">
        <li>
          <p class="navbar-btn"><a class="btn btn-success" [routerLink]="['/events']"><i class="fa fa-book"></i> <span class="hidden-sm"> Events</span></a>&nbsp;</p>
        </li>
        <li>
         <p class="navbar-btn"><a class="btn btn-success" [routerLink]="['/about']"><i class="fa fa-info-circle"></i> <span class="hidden-sm"> About</span></a>&nbsp;</p>
        </li>
      </ul>

      <!-- ADMIN right hand buttons (hidden when mobile) -->
      <ul class="nav navbar-nav navbar-right hidden-xs" *ngIf="!env.secured || userService.isLoggedIn()">
        <li>
          <p class="navbar-btn"><a class="btn btn-warning" [routerLink]="['/admin/report']"><i class="fa fa-bar-chart"></i> <span class="hidden-sm"> Reports</span></a>&nbsp;</p>
        </li>
        <li>
          <p class="navbar-btn"><a class="btn btn-warning" [routerLink]="['/admin/events']"><i class="fa fa-wrench"></i> <span class="hidden-sm"> Admin</span></a>&nbsp;</p>
        </li>
        <li>
          <p class="navbar-btn"><a class="btn btn-warning" href='/.auth/logout/aad?post_logout_redirect_uri=/home'><i class="fa fa-user-circle"></i> <span class="hidden-md hidden-sm"> Logout</span></a>&nbsp;</p>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-xs" *ngIf="env.secured && !userService.isLoggedIn()">
        <li>
          <p class="navbar-btn"><a class="btn btn-warning" href='/.auth/login/aad?post_login_redirect_uri=/logincomplete'><i class="fa fa-user"></i> Login</a>&nbsp;</p>
        </li>
      </ul>

      <!-- toggle sidenav menu button (only shown on mobile) -->
      <div class="nav navbar-nav pull-right visible-xs" >
        <button type="button" class="btn btn-primary menubars" (click)="sideNav.toggle()">
          <i class="fa fa-bars"></i>
        </button>
        &nbsp;
      </div>

    </div>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <div *ngIf="env.secured">Security enabled</div> <div *ngIf="!env.secured">Security disabled (demo mode)</div> 
    <div *ngIf="userService.isLoggedIn()">You are logged in as: {{ userService.getUserId() }}</div>
  </footer>

</div>