<!-- display errors -->
<div *ngIf="error" class="alert alert-warning error">
   <h4>&#x26a0; {{ error }}</h4>
</div>

<!-- spinner while loading -->
<div *ngIf="!error && !event" class="loader"></div>

<div class="panel panel-primary" *ngIf="event">
  <div class="panel-heading">
    <h3 class="panel-title">Feedback for - {{ event.title }} ({{ topic.desc }})</h3>
  </div>

  <div class="panel-body faces-center">
    <div class="row">
      <div class="facebox">
        <img face class="face fadeIn" src="assets/img/face-1.svg" (click)="clickFace(1)">
      </div>
      <div class="facebox">
        <img face class="face fadeIn" src="assets/img/face-2.svg" (click)="clickFace(2)">
      </div>
      <div class="facebox">
        <img face class="face fadeIn" src="assets/img/face-3.svg" (click)="clickFace(3)">
      </div>
      <div class="facebox">
        <img face class="face fadeIn" src="assets/img/face-4.svg" (click)="clickFace(4)">
      </div>
      <div class="facebox">
        <img face class="face fadeIn" src="assets/img/face-5.svg" (click)="clickFace(5)" >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-9 col-md-9 col-lg-9 vcenter">
      <textarea [(ngModel)]="feedback.comment" placeholder="Provide any additional comments (optional)"></textarea>
    </div><div class="col-xs-3 col-md-3 col-lg-3 vcenter">
      <button #subbut class="btn btn-success" disabled (click)="submit()">Submit</button>
    </div>
  </div>
</div>

<modal-dialog #confirmDialog hideCancel="true" dialogTitle="Thanks!" dialogBody="Thanks for providing your feedback! Your response has been saved."></modal-dialog>
<modal-dialog #goAwayDialog hideCancel="true" dialogTitle="Sorry!" dialogBody="You have already provided feedback for this event and topic session"></modal-dialog>
<modal-dialog #badDateDialog hideCancel="true" dialogTitle="Sorry!" dialogBody="That event is not open for feedback"></modal-dialog>
