<div class="row">
  <div class=" col-md-10 col-md-offset-1">
    
    <div class="panel panel-primary simpleFadeIn" *ngIf="!editEvent">
      <div class="panel-heading">
        <h2 class="panel-title">Event Admin</h2>
      </div>
      <div class="panel-body">

        <button class="btn btn-primary" (click)="newEvent()"><i class="fa fa-calendar-plus-o"></i>&nbsp; Add Event</button>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Event</th>
              <th class="hidden-xs">Type</th>
              <th class="hidden-xs">Start Date</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of events">
              <td>{{ event.title }}</td>
              <td class="hidden-xs">{{ event.type | titlecase }}</td>
              <td class="hidden-xs">{{ event.start | date:'longDate' }}</td>
              <td><button class="btn btn-success" (click)='edit(event)'><i class="fa fa-pencil"></i></button></td>
              <td><button class="btn btn-warning" (click)='deleteEvent(event)'><i class="fa fa-trash"></i></button></td>
            </tr>
        </table>

        <!-- spinner while loading -->
        <div *ngIf="!error && !events" class="loader"></div>

      </div>
    </div>
  </div>
</div>

<!-- display errors -->
<div *ngIf="error" class="alert alert-warning error">
  <h4>&#x26a0; Problem fetching events from the server</h4>
  <div *ngIf="error.error">Error: {{ error.error | json }}</div>
  <div *ngIf="error.name">Name: {{ error.name }}</div>
  <div *ngIf="error.message">Message: {{ error.message }}</div>
  <div *ngIf="error.url">URL: {{ error.url }}</div>
</div>

<!-- edit dialog, only shown when editEvent is active -->

<div class="row">
  <div class=" col-md-10 col-md-offset-1">
    <div class="panel panel-primary" *ngIf="editEvent">
      <div class="panel-heading">
        <h2 class="panel-title">
          <span *ngIf="editEvent.id">Edit Event ({{editEvent.id}})</span>
          <span *ngIf="!editEvent.id">Create Event</span>
        </h2>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="eventTitle">Title</label>
          <input maxlength="50" required class="form-control" #eventTitle="ngModel" id="eventTitle" [(ngModel)]="editEvent.title" value="{{editEvent.title}}" placeholder="e.g. Workshop on Azure">
        </div>  
        <div *ngIf="eventTitle.invalid" class="alert alert-warning">
          Event title must not be blank, and must be less than 50 characters
        </div>

        <div class="form-group form-group-lg">
          <label for="eventType">Type</label>
          <br/>
          <div class="row">
            <div class="col-xs-6">
              <select class="form-control narrow-select" id="eventType" [(ngModel)]="editEvent.type">
                <option *ngFor="let type of eventTypes" value="{{ type }}">{{ type | titlecase}}</option>
              </select>
            </div>
            <div class="col-xs-6">
              <img class="event-type-img" src='assets/img/events/{{editEvent.type}}.svg' />
            </div>
          </div>
        </div>        
            
        <div class="form-group form-group-lg">
          <label for="eventStart">Start Date</label>
          <input type="date" min="2017-01-01" max="2020-21-31" required class="form-control width40" #eventStart="ngModel" id="eventStart" [(ngModel)]="editEvent.start" value="{{editEvent.start}}">     
        </div>   
        <div *ngIf="eventStart.invalid" class="alert alert-warning">
            Event start date must be set
        </div>
        
        <div class="form-group form-group-lg">
          <label for="eventEnd">End Date</label>
          <input type="date" min="2017-01-01" max="2020-12-31" required class="form-control width40" #eventEnd="ngModel" id="eventEnd" [(ngModel)]="editEvent.end" value="{{editEvent.end}}">     
        </div>    
        <div *ngIf="eventEnd.invalid" class="alert alert-warning">
            Event end date must be set
        </div>
        <div *ngIf="dateError" class="alert alert-warning">
            Event end date must be same day or later than start date
        </div>

        <div class="panel">
          <div class="panel-heading">
            <h2 class="panel-title">Topics <button class="btn btn-success topicbtn" (click)="newTopic(editEvent)"><i class="fa fa-plus"></i>&nbsp; Add Topic</button> </h2>
          </div>
          <div class="panel-body">
            <table class="table table-hover">
              <tr *ngFor="let topic of editEvent.topics">
                <td>{{ topic.id }}</td> 
                <td><input required type="text" #eventEnd="ngModel" class="form-control" [(ngModel)]="topic.desc" value="{{ topic.desc }}"/></td> 
                <td><a (click)="deleteTopic(editEvent, topic)"><i class="fa fa-trash minibutton"></i></a></td>
              </tr>
            </table>
            <div *ngIf="topicError" class="alert alert-warning">
                ERROR: One or more topics is invalid or blank
              </div>  
          </div>
        </div>
        
        <button [disabled]="eventTitle.invalid || eventStart.invalid || eventEnd.invalid" class="btn btn-primary btn-lg" (click)='saveEvent(editEvent)'>
          <i class="fa fa-check"></i> 
          <span *ngIf="editEvent.id">Update Event</span>
          <span *ngIf="!editEvent.id">Create New Event</span>
        </button>

        <button *ngIf="!editEvent.id" class="btn btn-default btn-sm" (click)='cancel()'>
          <i class="fa fa-times"></i> 
          Cancel
        </button>

      </div>
    </div>
  </div>
</div>


<modal-dialog #deleteDialog dialogTitle="Are you sure?" okButtonText=" DELETE "></modal-dialog>
