<div class="panel panel-success">
  <div class="panel-heading">
    <h2 class="panel-title"><i class="fa fa-file-text"></i> Report On Event</h2>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label for="eventSelect">Choose event to report on</label>
      <select id="eventSelect" style="width:50%" class="form-control" [(ngModel)]="event" (change)="doReport()">
        <option *ngFor="let event of events" [ngValue]="event">&nbsp;&nbsp;{{ event.title }}</option>
      </select>
      <br/>
      <button class="btn btn-success" (click)="doReport()">Refresh Report</button>
    </div>
  </div>
</div>

<div class="panel panel-primary simpleFadeIn" *ngIf="event">
  <div class="panel-heading">
    <h2 class="panel-title">Feedback for '{{ event.title }}'</h2>
  </div>
  <div class="panel-body">
    <table>
      <tr><td>Start Date: &nbsp;&nbsp; </td><td>{{event.start | date:'MMMM d, yyyy' }}</td></tr>
      <tr><td>End Date: &nbsp;&nbsp; </td><td>{{event.end | date:'MMMM d, yyyy' }}</td></tr>
      <tr><td>Type: &nbsp;&nbsp; </td><td>{{event.type | titlecase}}</td></tr>
    </table>
    <hr/>

    <div *ngFor="let topic of event.topics">
      <br/>
      <h3 class="topicheader">{{ topic.desc }}</h3>
      <h4 *ngIf="topicStats[topic.id]">Responses: {{ topicStats[topic.id].count }} </h4>
      <h4>Average Rating:           
        <span *ngIf="topicStats[topic.id]" class="rating rating-colour-{{topicStats[topic.id].avgFloor}}">
            &nbsp;&nbsp;{{ topicStats[topic.id].avg | number:'1.2-2' }}&nbsp;&nbsp;
        </span>   
    </h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Rating</th>          
            <th>Comments</th>
            <th>Sentiment Score</th>            
          </tr>
        </thead>
        <tbody>
          <div *ngIf="!error && !topic.feedback" class="loader"></div>
          <tr *ngFor="let feedback of topic.feedback">
            <td width="15%">
              <img src="assets/img/face-{{ feedback.rating }}.svg" width="40px"/> &nbsp;&nbsp; <span>{{ feedback.rating }}</span>
            </td>
            <td width="65%">
              <span *ngIf="!feedback.comment"><i>No comment</i></span>
              <span *ngIf="feedback.comment">"{{ feedback.comment }}"</span>
            </td>
            <td width="20%">
              <span *ngIf="!feedback.sentiment">&nbsp;</span>{{ feedback.sentiment | percent:'1.1-1' }}
            </td>            
          </tr>
      </table>
      <hr/>
    </div>
  </div>
</div>

<!-- spinner while loading -->
<div *ngIf="!error && !events" class="loader"></div>

<!-- display errors -->
<div *ngIf="error" class="alert alert-warning error">
  <h4>&#x26a0; Problem fetching events from the server</h4>
  <div *ngIf="error.error">Error: {{ error.error | json }}</div>
  <div *ngIf="error.name">Name: {{ error.name }}</div>
  <div *ngIf="error.message">Message: {{ error.message }}</div>
  <div *ngIf="error.url">URL: {{ error.url }}</div>
</div>