#
# Default values for Smilr Helm chart
#

# Change to blank string to pull from Docker Hub
registryPrefix: 

ingress:
  # If blank then path based routing will be used, based on release name
  # If set then release name will be prepended and host routing used 
  domainSuffix:
  # Ingress class annotation
  class: addon-http-application-routing
  # Set to enable TLS, when using cert-manager and dynamically issued certs 
  certIssuer:
  # Set to enable TLS with a static secret
  certName:

dataApi:
  imageTag: latest
  replicas: 2
  # Leave blank to use the internal service, override if using external database
  mongoConnStr: 
  imagePullPolicy: Always
  
frontend:
  imageTag: latest
  replicas: 2
  imagePullPolicy: Always

#
# Sentiment cognitive service API defaults
#
sentiment:
  enabled: false
  key: 
  region: 
  image: mcr.microsoft.com/azure-cognitive-services/sentiment:1.1.009301-amd64-preview

#
# MongoDB defaults
#
mongodb:
  image:
    tag: "5.0"
  persistence:
    enabled: false
    size: 1Gi
  usePassword: false
  replicaSet:
    enabled: false  
