     
<div>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">

      <!-- sidebar only show when toggled/opened -->
      <div id="mobileNav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <a [routerLink]="['/events']" (click)="closeNav()"><i class="fa fa-book"></i> Events</a>
        <a *ngIf="!env.secured || userService.isLoggedIn()" [routerLink]="['/admin/report']" (click)="closeNav()"><i class="fa fa-bar-chart"></i> Reports</a>
        <a *ngIf="!env.secured || userService.isLoggedIn()" [routerLink]="['/admin/events']" (click)="closeNav()"><i class="fa fa-wrench"></i> Admin</a>
        <a *ngIf="!env.secured || userService.isLoggedIn()" href='/.auth/logout/aad' (click)="closeNav()"><i class="fa fa-user-circle"></i> Logout</a>
        <a *ngIf="env.secured && !userService.isLoggedIn()" href='/.auth/login/aad?post_login_redirect_uri=/logincomplete'><i class="fa fa-user"></i> Login</a>
        <a (click)="closeNav(); aboutDialog.show()"><i class="fa fa-info-circle"></i> About</a>
      </div>

      <!-- logo -->
      <a class="navbar-brand" [routerLink]="['/home']"><img src='/assets/img/logo-white.svg' style="width:60px; display: inline-block; margin-top:-10px"> <span style="display: inline-block">Smilr</span> </a>

      <!-- left hand buttons (hidden when mobile) -->
      <ul class="nav navbar-nav navbar-left hidden-xs">
        <li>
          <p class="navbar-btn"><a class="btn btn-success" [routerLink]="['/events']"><i class="fa fa-book"></i> <span class="hidden-sm">Events</span></a>&nbsp;</p>
        </li>
        <li>
         <p class="navbar-btn"><a class="btn btn-success" (click)="aboutDialog.show()"><i class="fa fa-info-circle"></i> <span class="hidden-sm">About</span></a>&nbsp;</p>
        </li>
      </ul>

      <!-- ADMIN right hand buttons (hidden when mobile) -->
      <ul class="nav navbar-nav navbar-right hidden-xs" *ngIf="!env.secured || userService.isLoggedIn()">
        <li>
          <p class="navbar-btn"><a class="btn btn-warning" [routerLink]="['/admin/report']"><i class="fa fa-bar-chart"></i> <span class="hidden-sm">Reports</span></a>&nbsp;</p>
        </li>
        <li>
          <p class="navbar-btn"><a class="btn btn-warning" [routerLink]="['/admin/events']"><i class="fa fa-wrench"></i> <span class="hidden-sm">Admin</span></a>&nbsp;</p>
        </li>
        <li>
          <p class="navbar-btn"><a class="btn btn-warning" href='/.auth/logout/aad'><i class="fa fa-user-circle"></i> <span class="hidden-md hidden-sm">Logout</span></a>&nbsp;</p>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-xs" *ngIf="env.secured && !userService.isLoggedIn()">
        <li>
          <p class="navbar-btn"><a class="btn btn-warning" href='/.auth/login/aad?post_login_redirect_uri=/logincomplete'><i class="fa fa-user"></i> Login</a>&nbsp;</p>
        </li>
      </ul>

      <!-- toggle sidenav menu button (only shown on mobile) -->
      <div class="nav navbar-nav pull-right visible-xs" >
        <button type="button" class="btn btn-primary" (click)="toggleNav()">
          <i class="fa fa-bars" style="font-size:40px"></i>
        </button>
        &nbsp;
      </div>

    </div>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <div *ngIf="env.secured">Security enabled</div> <div *ngIf="!env.secured">Security disabled (demo mode)</div> 
    <div *ngIf="userService.isLoggedIn()">You are logged in as: {{ userService.getUserId() }}</div>
  </footer>

</div>

<!-- About dialog -->
<modal-dialog #aboutDialog dialogTitle="Smilr" hideCancel="true" dialogBody="<div class='about'>
  <img src='/assets/img/face-5.svg' class='aboutface bounce'/><br/><br/><h4>A microservices &amp; Angular demonstration app</h4></div>
  v1.1.0<br/>
  <a href='https://github.com/benc-uk/microservices-demoapp' target='_blank'>github.com/benc-uk/microservices-demoapp</a>
  <br/>&copy; Ben Coleman, 2017" ></modal-dialog>


