     
<div>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">

      <!-- sidebar only show when toggled/opened -->
      <div id="mobileNav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <a [routerLink]="['/events']" (click)="closeNav()"><i class="fa fa-book"></i> Events</a>
        <a [routerLink]="['/admin/report']" (click)="closeNav()"><i class="fa fa-bar-chart"></i> Reports</a>
        <a [routerLink]="['/admin/debug']" (click)="closeNav()"><i class="fa fa-wrench"></i> Debug</a>
        <a href="#aboutModal" data-toggle="modal" (click)="closeNav()"><i class="fa fa-info-circle"></i> About</a>
      </div>

      <!-- logo -->
      <a class="navbar-brand" [routerLink]="['/home']"><i class="fa fa-thumbs-up"></i> Jimi </a>

      <!-- left hand buttons (hidden when mobile) -->
      <ul class="nav navbar-nav navbar-left hidden-xs">
        <li>
          <p class="navbar-btn"><a class="btn btn-success" [routerLink]="['/events']"><i class="fa fa-book"></i> Events</a>&nbsp;</p>
        </li>
        <li>
         <p class="navbar-btn"><a class="btn btn-success" (click)="aboutDialog.show()"><i class="fa fa-info-circle"></i> About</a>&nbsp;</p>
        </li>
      </ul>

      <!-- ADMIN right hand buttons (hidden when mobile) -->
      <ul class="nav navbar-nav navbar-right hidden-xs" *ngIf="!env.secured || userService.isLoggedIn()">
        <li>
          <p class="navbar-btn"><a class="btn btn-warning" [routerLink]="['/admin/report']"><i class="fa fa-bar-chart"></i> Reports</a>&nbsp;</p>
        </li>
        <li>
          <p class="navbar-btn"><a class="btn btn-warning" [routerLink]="['/admin/events']"><i class="fa fa-wrench"></i> Admin</a>&nbsp;</p>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-xs" *ngIf="env.secured && !userService.isLoggedIn()">
        <li>
          <p class="navbar-btn"><a class="btn btn-warning" href='/.auth/login/aad?post_login_redirect_uri=/logincomplete'><i class="fa fa-user"></i> Login</a>&nbsp;</p>
        </li>
      </ul>

      <!-- toggle sidenav menu button (shown on mobile) -->
      <div class="nav navbar-nav pull-right visible-xs" >
        <button type="button" class="btn btn-primary" (click)="toggleNav()">
          <i class="fa fa-bars" style="font-size:40px"></i>
        </button>
        &nbsp;
      </div>

    </div>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <div *ngIf="env.secured">Security enabled</div> <div *ngIf="!env.secured">Security disabled (demo mode)</div> 
    <div *ngIf="userService.isLoggedIn()">You are logged in as: {{ userService.getUserId() }}</div>
  </footer>

</div>

<modal-dialog #aboutDialog dialogTitle="About" hideCancel="true" dialogBody=" Jimi<br/>v1.0.0 " ></modal-dialog>


