body { 
   padding-top: 20px; 
   font-size: 14px;
}

footer {
   float: right;
   padding-right: 10px
}

li {
   font-size: 2em;
}

.modal, .panel-title {
   font-size: 1.6em;
}

.navbar-brand {
   font-size: 40px;
}
.navbar-nav li a {
   line-height: 40px;
}

.faces-center {
   margin: 0 auto;
}

.face {
   margin: 10px;
   width: 100%;
   filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.75));
   transition: 0.3s ease-in-out;
}

.face:hover {
   filter: drop-shadow(0px 12px 8px rgba(0, 0, 0, 0.75));
   transform: translate(0px, -16px);
   transition: 0.3s ease-in-out;
}

.face-unselected {
   filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.75)) saturate(10%);
   opacity: 0.5;
}

textarea::placeholder, input::placeholder  {
   color:#cccccc;
}
textarea {
   border: 3px solid #dddddd;
}
.inline {
   display: inline;
}

.feedbackbox {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 1.9em;
   padding: 10px;
   margin: 10px;
   width: 90%;
   height: 150px;
}

.vcenter {
   display: inline-block;
   vertical-align: middle;
   float: none;
}