<div class="panel panel-primary" style="width:60%; margin: 0 auto">
   <div class="panel-heading">
      <h2 class="panel-title">System Info</h2>
   </div>
   <div class="panel-body">
      <table class="table table-hover">
         <thead>
            <tr>
               <th>Property</th>
               <th>Value</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>Development Mode</td>
               <td>{{ info.devMode }}</td>
            </tr>
            <tr>
               <td>API Endpoint</td>
               <td>{{ info.apiEndpoint }}</td>
            </tr>
      </table>

   </div>
</div>