<h1 class="hidden-xs">
    Jimi - A simple microservices demonstration app
</h1>

<hr/>

<!-- component -->
<event-list></event-list>

<!--<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Event Code</h3>
  </div>
  <div class="panel-body">
    <h4>Or provide an event code:</h4>
    <div class="input-group" style="width:60%">
      <input type="text" class="form-control" placeholder="e.g. zy348" #topic (keyup.enter)="enterTopic(topic.value)">
      <span class="input-group-btn">
        <button class="btn btn-success" (click)="enterTopic(topic.value)">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
    <div *ngIf="showWarning" class="alert alert-warning" style="width:40%">
      <strong>Sorry!</strong> That event was not found!
    </div>
  </div>
</div>-->