/* You can add global styles to this file, and also import other style files */
body { 
   font-size: 14px;
}
.navbar-brand {
   font-size: 40px !important;
}
.navbar-nav li a {
   line-height: 40px;
   font-size: 25px;
}
main {
   margin: 30px;
}
h1 {
   font-size: 50px;
}
li {
   font-size: 190%;
}
.panel-title {
   font-size: 200% !important;
}
table {
   font-size: 160% !important;
}